<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
            <param name="File" value="Logs/.log" />
            <!--是否追加到文件-->
            <param name="AppendToFile" value="true" />
            <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <!--使用Unicode编码-->
            <Encoding value="UTF-8" />
            <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
            <param name="MaxSizeRollBackups" value="-1" />
            <!--是否只写到一个文件中-->
            <param name="StaticLogFileName" value="false" />
            <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
            <param name="RollingStyle" value="Composite" />
            <!--文件分隔，保持文件扩展名-->
            <preserveLogFileNameExtension value="true"/>
            <!--此处按日期产生文件夹，文件名固定。注意&quot; 的位置-->
            <param name="DatePattern" value="yyyy-MM/yyyy-MM-dd"/>
            <!--每个文件的大小。只在混合方式与文件大小方式下使用。超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。
            可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
            <param name="maximumFileSize" value="100MB" />
            <!--计数类型为1，2，3…-->
            <!--<param name="CountDirection" value="1"/>-->
            <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="FATAL" />
            </filter>

            <!--记录的格式。一般用log4net.Layout.PatternLayout布局-->
            <!--此处用继承了log4net.Layout.PatternLayout的自定义布局，TGLog.ExpandLayout2为命名空间。
      value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 记录类：%logger %n异常：%exception %newline%n"
      %property{Operator}、%property{Action}是自定义的输出
      -->
            <layout type="UnityMethods.Logs.MessageLogLayout">
                <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff}, %logger, Thread:[%thread], %level, %message%n%exception%n"/>
            </layout>

        </appender>

        <root>
            <!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
            <level value="ALL" />
            <appender-ref ref="ErrorAppender" />
        </root>

    </log4net>
</configuration>